# General
*.log
*.pyc
__pycache__/
.DS_Store

# Virtual Environment
venv/
.env

# Django
/db.sqlite3
/media/
/static/
.mypy_cache/
.idea/
.vscode/

# React Frontend
node_modules/
build/
.env.local

# Logs & Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Ignore all migration files except __init__.py
**/migrations/*
!**/migrations/__init__.py
